/build*
build_info.h
bin
obj
*.o
OUT.*
log.txt
result.out
test.sum
*.dat
!tests/08_EXX/58_KP_LR_BSE/librpa.d/KS_eigenvector_*.dat
.DS_Store
.cache
.vscode
html
*.log
STRU_READIN_ADJUST.cif
*.egg
*.egg-info
build
dist
.idea
time.json
*.pyc
__pycache__
abacus.json
*.npy
toolchain/install/
toolchain/abacus_env.sh
.trae
.codex
compile_commands.json
