# Export-ignore
.gitattributes export-ignore
.gitignore export-ignore
.gitmodules export-ignore
.pre-commit-config.yaml export-ignore
.github/ export-ignore

# Line break
* text=auto eol=lf
*.bat text eol=crlf
*.cmd text eol=crlf
